.game-item {
  $img-width: 100px;
  
  img {
    width: $img-width;   
  }

  .content {
    width: calc(100% - #{$img-width});
    padding: 0 14px;
    

    .description {
      line-height: 1.2;
      color: rgba($main-text-color, 1);
      font-size: 12px;
      margin: 10px 0;
    }
  }
}