.logo-container {
  text-align: center;
  margin: 10px;
  
  .logo {
    width: 315px;
    height: 50px;
    display: inline-block;
    background: url(../images/logo.svg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;
  }
}