.login-form-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  .login-form-container {
    width:  300px;
    background: $content-bg-color;
    padding: 12px;
    border-radius: 4px;
    height: 121px;

    & > div {
      margin-bottom: 10px;
      input {
        width: 100%;
      }
    }

    .btn {
      margin-right: 5px;
    }
  }
}