.profile {
  .avatar-wrapper {
    font-size: 12px;

    .avatar {
      border-radius: 50%;
      width: 33px;
      float: left;
      margin-right: 8px;
    }
  
    .profile-detail {
      float: left;
    }
  }
}